In [1]:
import pandas as pd
import numpy as np
from scipy.stats import stats
import seaborn as sns
import warnings 
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
warnings.simplefilter(action='ignore',category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns',50)

df_asli = pd.read_csv(r'C:\Users\ASUS\Downloads\latihan Netflix\Customer Satisfaction and Sentiment Analysis.csv')
df_asli

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,12942,Male,Loyal Customer,8,Personal Travel,Eco,563,3,5,3,4,1,3,4,1,5,4,5,5,4,1,35,21.0,neutral or dissatisfied
99996,99996,47237,Male,Loyal Customer,61,Personal Travel,Eco Plus,945,1,1,1,4,3,1,3,3,3,3,4,1,4,3,40,46.0,neutral or dissatisfied
99997,99997,41508,Male,Loyal Customer,43,Business travel,Business,1464,3,3,4,3,3,1,1,5,5,5,5,4,5,3,0,0.0,satisfied
99998,99998,107935,Female,disloyal Customer,22,Business travel,Business,611,4,2,4,3,3,4,2,3,2,5,4,1,3,3,15,6.0,neutral or dissatisfied
99999,99999,123143,Male,Loyal Customer,41,Business travel,Business,590,2,4,4,4,4,4,4,2,2,2,2,1,2,2,4,15.0,neutral or dissatisfied

In [2]:
df_asli.shape

(100000, 25)

In [3]:
df_asli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         100000 non-null  int64
 1   id                                 100000 non-null  int64
 2   Gender                             100000 non-null  object
 3   Customer Type                      100000 non-null  object
 4   Age                                100000 non-null  int64
 5   Type of Travel                     100000 non-null  object
 6   Class                              100000 non-null  object
 7   Flight Distance                    100000 non-null  int64
 8   Inflight wifi service              100000 non-null  int64
 9   Departure/Arrival time convenient  100000 non-null  int64
 10  Ease of Online booking             100000 non-null  int64
 11  Gate location                      100000 non-null  int64
 12  Food and drink                     100000 non-null  int64
 13  Online boarding                    100000 non-null  int64
 14  Seat comfort                       100000 non-null  int64
 15  Inflight entertainment             100000 non-null  int64
 16  On-board service                   100000 non-null  int64
 17  Leg room service                   100000 non-null  int64
 18  Baggage handling                   100000 non-null  int64
 19  Checkin service                    100000 non-null  int64
 20  Inflight service                   100000 non-null  int64
 21  Cleanliness                        100000 non-null  int64
 22  Departure Delay in Minutes         100000 non-null  int64
 23  Arrival Delay in Minutes           99700 non-null   float64
 24  satisfaction                       100000 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.1+ MB

## Handle Missing Value

In [4]:
print(f"Missing Value = {df_asli.isnull().sum()}")

Missing Value = Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             300
satisfaction                           0
dtype: int64

In [5]:
df_asli.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [6]:
 df_asli[df_asli.isnull().any(axis=1)]

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
213,213,49608,Female,Loyal Customer,38,Business travel,Eco,109,5,3,3,3,5,5,5,5,5,2,4,1,1,5,31,NaN,satisfied
1124,1124,73442,Male,Loyal Customer,53,Personal Travel,Eco,1012,3,2,3,4,4,3,4,4,4,4,4,3,3,4,38,NaN,neutral or dissatisfied
1529,1529,71178,Male,Loyal Customer,39,Business travel,Business,733,2,5,5,5,2,4,3,2,2,2,2,2,2,3,11,NaN,neutral or dissatisfied
2004,2004,72940,Female,disloyal Customer,26,Business travel,Business,1035,3,3,3,1,2,3,2,2,3,3,4,5,5,2,41,NaN,neutral or dissatisfied
2108,2108,116374,Female,Loyal Customer,24,Personal Travel,Eco,417,2,1,2,2,5,2,5,5,1,4,2,1,2,5,1,NaN,neutral or dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97915,97915,20070,Male,Loyal Customer,66,Personal Travel,Eco,607,4,4,3,3,5,3,5,5,5,5,4,5,5,5,20,NaN,neutral or dissatisfied
98446,98446,20953,Female,Loyal Customer,45,Business travel,Eco,689,3,5,5,5,1,4,5,3,3,3,3,3,3,3,0,NaN,satisfied
98636,98636,7116,Male,Loyal Customer,54,Personal Travel,Eco,157,2,4,2,2,2,2,2,2,3,4,4,3,4,2,0,NaN,neutral or dissatisfied
98946,98946,19609,Male,Loyal Customer,65,Business travel,Business,3663,3,3,3,3,2,4,3,4,4,4,4,5,4,5,1,NaN,satisfied
99814,99814,106022,Male,Loyal Customer,35,Business travel,Business,2658,1,1,1,1,2,5,4,4,4,4,4,5,4,3,29,NaN,satisfied

In [7]:
df_asli['Arrival Delay in Minutes'].fillna(0, inplace = True)
df_asli

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,12942,Male,Loyal Customer,8,Personal Travel,Eco,563,3,5,3,4,1,3,4,1,5,4,5,5,4,1,35,21.0,neutral or dissatisfied
99996,99996,47237,Male,Loyal Customer,61,Personal Travel,Eco Plus,945,1,1,1,4,3,1,3,3,3,3,4,1,4,3,40,46.0,neutral or dissatisfied
99997,99997,41508,Male,Loyal Customer,43,Business travel,Business,1464,3,3,4,3,3,1,1,5,5,5,5,4,5,3,0,0.0,satisfied
99998,99998,107935,Female,disloyal Customer,22,Business travel,Business,611,4,2,4,3,3,4,2,3,2,5,4,1,3,3,15,6.0,neutral or dissatisfied
99999,99999,123143,Male,Loyal Customer,41,Business travel,Business,590,2,4,4,4,4,4,4,2,2,2,2,1,2,2,4,15.0,neutral or dissatisfied

In [8]:
print(f"Missing Value = {df_asli.isnull().sum()}")

Missing Value = Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [9]:
df_asli.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.00000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000
mean,49999.500000,64925.805660,39.379330,1190.58611,2.728820,3.059130,2.75604,2.97566,3.203310,3.250760,3.440340,3.358180,3.382230,3.350560,3.631930,3.303820,3.64012,3.287260,14.823680,15.140170
std,28867.657797,37453.371794,15.110524,997.24029,1.327411,1.525273,1.39810,1.27692,1.329779,1.349273,1.319325,1.333403,1.288707,1.315464,1.180749,1.265286,1.17590,1.312158,38.206983,38.628591
min,0.000000,1.000000,7.000000,31.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,24999.750000,32554.750000,27.000000,414.00000,2.000000,2.000000,2.00000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.00000,2.000000,0.000000,0.000000
50%,49999.500000,64883.500000,40.000000,844.00000,3.000000,3.000000,3.00000,3.00000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.00000,3.000000,0.000000,0.000000
75%,74999.250000,97346.250000,51.000000,1744.00000,4.000000,4.000000,4.00000,4.00000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.00000,4.000000,12.000000,13.000000
max,99999.000000,129880.000000,85.000000,4983.00000,5.000000,5.000000,5.00000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,1592.000000,1584.000000

## Check Inconsistencies

In [10]:
all_cols = df_asli.select_dtypes(include=['number','object','bool']).columns # menggabungkan semua data kolom 
all_values = []

for allcol in all_cols: 
    all_values.append({
        'column':allcol,  # nama kolom
        'data_type': df_asli[allcol].dtypes,
        'n_values':df_asli[allcol].nunique(dropna=True), # jumlah data
        'unique_values': df_asli[allcol].dropna().unique().tolist()}) # isi dari kolom atau nilai kategorik dari data
        
all_values_df_asli = pd.DataFrame(all_values)
all_values_df_asli

,column,data_type,n_values,unique_values
0,Unnamed: 0,int64,100000,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,id,int64,100000,"[70172, 5047, 110028, 24026, 119299, 111157, 8..."
2,Gender,object,2,"[Male, Female]"
3,Customer Type,object,2,"[Loyal Customer, disloyal Customer]"
4,Age,int64,75,"[13, 25, 26, 61, 47, 52, 41, 20, 24, 12, 53, 3..."
5,Type of Travel,object,2,"[Personal Travel, Business travel]"
6,Class,object,3,"[Eco Plus, Business, Eco]"
7,Flight Distance,int64,3795,"[460, 235, 1142, 562, 214, 1180, 1276, 2035, 8..."
8,Inflight wifi service,int64,6,"[3, 2, 4, 1, 5, 0]"
9,Departure/Arrival time convenient,int64,6,"[4, 2, 5, 3, 1, 0]"
10,Ease of Online booking,int64,6,"[3, 2, 5, 4, 1, 0]"
11,Gate location,int64,6,"[1, 3, 2, 5, 4, 0]"
12,Food and drink,int64,6,"[5, 1, 2, 4, 3, 0]"
13,Online boarding,int64,6,"[3, 5, 2, 1, 4, 0]"
14,Seat comfort,int64,6,"[5, 1, 2, 3, 4, 0]"
15,Inflight entertainment,int64,6,"[5, 1, 2, 3, 4, 0]"
16,On-board service,int64,6,"[4, 1, 2, 3, 5, 0]"
17,Leg room service,int64,6,"[3, 5, 4, 2, 1, 0]"
18,Baggage handling,int64,5,"[4, 3, 5, 1, 2]"
19,Checkin service,int64,6,"[4, 1, 3, 5, 2, 0]"
20,Inflight service,int64,6,"[5, 4, 3, 1, 2, 0]"
21,Cleanliness,int64,6,"[5, 1, 2, 3, 4, 0]"
22,Departure Delay in Minutes,int64,441,"[25, 1, 0, 11, 9, 4, 28, 43, 49, 7, 17, 52, 54..."
23,Arrival Delay in Minutes,float64,451,"[18.0, 6.0, 0.0, 9.0, 23.0, 8.0, 35.0, 51.0, 1..."
24,satisfaction,object,2,"[neutral or dissatisfied, satisfied]"

In [11]:
df_asli.duplicated().sum()

np.int64(0)

In [12]:
for col in df_asli.columns:
    pct0 = df_asli[col].eq(0).mean() * 100
    print(col, pct0)

Unnamed: 0 0.001
id 0.0
Gender 0.0
Customer Type 0.0
Age 0.0
Type of Travel 0.0
Class 0.0
Flight Distance 0.0
Inflight wifi service 2.992
Departure/Arrival time convenient 5.122999999999999
Ease of Online booking 4.319
Gate location 0.001
Food and drink 0.098
Online boarding 2.336
Seat comfort 0.001
Inflight entertainment 0.013999999999999999
On-board service 0.003
Leg room service 0.453
Baggage handling 0.0
Checkin service 0.001
Inflight service 0.003
Cleanliness 0.012
Departure Delay in Minutes 56.394999999999996
Arrival Delay in Minutes 56.233999999999995
satisfaction 0.0

In [13]:
cols_to_replace = ['Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness']
df_asli[cols_to_replace] = df_asli[cols_to_replace].replace(0, np.nan)

In [14]:
df_asli

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3.0,4.0,3.0,1.0,5.0,3.0,5.0,5.0,4.0,3.0,4,4.0,5.0,5.0,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3.0,2.0,3.0,3.0,1.0,3.0,1.0,1.0,1.0,5.0,3,1.0,4.0,1.0,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,4.0,3.0,4,4.0,4.0,5.0,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2.0,5.0,5.0,5.0,2.0,2.0,2.0,2.0,2.0,5.0,3,1.0,4.0,2.0,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3.0,3.0,3.0,3.0,4.0,5.0,5.0,3.0,3.0,4.0,4,3.0,3.0,3.0,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,12942,Male,Loyal Customer,8,Personal Travel,Eco,563,3.0,5.0,3.0,4.0,1.0,3.0,4.0,1.0,5.0,4.0,5,5.0,4.0,1.0,35,21.0,neutral or dissatisfied
99996,99996,47237,Male,Loyal Customer,61,Personal Travel,Eco Plus,945,1.0,1.0,1.0,4.0,3.0,1.0,3.0,3.0,3.0,3.0,4,1.0,4.0,3.0,40,46.0,neutral or dissatisfied
99997,99997,41508,Male,Loyal Customer,43,Business travel,Business,1464,3.0,3.0,4.0,3.0,3.0,1.0,1.0,5.0,5.0,5.0,5,4.0,5.0,3.0,0,0.0,satisfied
99998,99998,107935,Female,disloyal Customer,22,Business travel,Business,611,4.0,2.0,4.0,3.0,3.0,4.0,2.0,3.0,2.0,5.0,4,1.0,3.0,3.0,15,6.0,neutral or dissatisfied
99999,99999,123143,Male,Loyal Customer,41,Business travel,Business,590,2.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0,2.0,2.0,2,1.0,2.0,2.0,4,15.0,neutral or dissatisfied

In [15]:
all_cols = df_asli.select_dtypes(include=['number','object','bool']).columns # menggabungkan semua data kolom 
all_values = []

for allcol in all_cols: 
    all_values.append({
        'column':allcol,  # nama kolom
        'data_type': df_asli[allcol].dtypes,
        'n_values':df_asli[allcol].nunique(dropna=True), # jumlah data
        'unique_values': df_asli[allcol].dropna().unique().tolist()}) # isi dari kolom atau nilai kategorik dari data
        
all_values_df_asli = pd.DataFrame(all_values)
all_values_df_asli

,column,data_type,n_values,unique_values
0,Unnamed: 0,int64,100000,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,id,int64,100000,"[70172, 5047, 110028, 24026, 119299, 111157, 8..."
2,Gender,object,2,"[Male, Female]"
3,Customer Type,object,2,"[Loyal Customer, disloyal Customer]"
4,Age,int64,75,"[13, 25, 26, 61, 47, 52, 41, 20, 24, 12, 53, 3..."
5,Type of Travel,object,2,"[Personal Travel, Business travel]"
6,Class,object,3,"[Eco Plus, Business, Eco]"
7,Flight Distance,int64,3795,"[460, 235, 1142, 562, 214, 1180, 1276, 2035, 8..."
8,Inflight wifi service,float64,5,"[3.0, 2.0, 4.0, 1.0, 5.0]"
9,Departure/Arrival time convenient,float64,5,"[4.0, 2.0, 5.0, 3.0, 1.0]"
10,Ease of Online booking,float64,5,"[3.0, 2.0, 5.0, 4.0, 1.0]"
11,Gate location,float64,5,"[1.0, 3.0, 2.0, 5.0, 4.0]"
12,Food and drink,float64,5,"[5.0, 1.0, 2.0, 4.0, 3.0]"
13,Online boarding,float64,5,"[3.0, 5.0, 2.0, 1.0, 4.0]"
14,Seat comfort,float64,5,"[5.0, 1.0, 2.0, 3.0, 4.0]"
15,Inflight entertainment,float64,5,"[5.0, 1.0, 2.0, 3.0, 4.0]"
16,On-board service,float64,5,"[4.0, 1.0, 2.0, 3.0, 5.0]"
17,Leg room service,float64,5,"[3.0, 5.0, 4.0, 2.0, 1.0]"
18,Baggage handling,int64,5,"[4, 3, 5, 1, 2]"
19,Checkin service,float64,5,"[4.0, 1.0, 3.0, 5.0, 2.0]"
20,Inflight service,float64,5,"[5.0, 4.0, 3.0, 1.0, 2.0]"
21,Cleanliness,float64,5,"[5.0, 1.0, 2.0, 3.0, 4.0]"
22,Departure Delay in Minutes,int64,441,"[25, 1, 0, 11, 9, 4, 28, 43, 49, 7, 17, 52, 54..."
23,Arrival Delay in Minutes,float64,451,"[18.0, 6.0, 0.0, 9.0, 23.0, 8.0, 35.0, 51.0, 1..."
24,satisfaction,object,2,"[neutral or dissatisfied, satisfied]"

In [16]:
rating_cols = [col for col in df_asli.columns if df_asli[col].max() == 5]
rating_cols

['Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness']

In [17]:
df_asli[rating_cols] = df_asli[rating_cols].astype("Int64")

In [18]:
all_cols = df_asli.select_dtypes(include=['number','object','bool']).columns # menggabungkan semua data kolom 
all_values = []

for allcol in all_cols: 
    all_values.append({
        'column':allcol,  # nama kolom
        'data_type': df_asli[allcol].dtypes,
        'n_values':df_asli[allcol].nunique(dropna=True), # jumlah data
        'unique_values': df_asli[allcol].dropna().unique().tolist()}) # isi dari kolom atau nilai kategorik dari data
        
all_values_df_asli = pd.DataFrame(all_values)
all_values_df_asli

,column,data_type,n_values,unique_values
0,Unnamed: 0,int64,100000,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,id,int64,100000,"[70172, 5047, 110028, 24026, 119299, 111157, 8..."
2,Gender,object,2,"[Male, Female]"
3,Customer Type,object,2,"[Loyal Customer, disloyal Customer]"
4,Age,int64,75,"[13, 25, 26, 61, 47, 52, 41, 20, 24, 12, 53, 3..."
5,Type of Travel,object,2,"[Personal Travel, Business travel]"
6,Class,object,3,"[Eco Plus, Business, Eco]"
7,Flight Distance,int64,3795,"[460, 235, 1142, 562, 214, 1180, 1276, 2035, 8..."
8,Inflight wifi service,Int64,5,"[3, 2, 4, 1, 5]"
9,Departure/Arrival time convenient,Int64,5,"[4, 2, 5, 3, 1]"
10,Ease of Online booking,Int64,5,"[3, 2, 5, 4, 1]"
11,Gate location,Int64,5,"[1, 3, 2, 5, 4]"
12,Food and drink,Int64,5,"[5, 1, 2, 4, 3]"
13,Online boarding,Int64,5,"[3, 5, 2, 1, 4]"
14,Seat comfort,Int64,5,"[5, 1, 2, 3, 4]"
15,Inflight entertainment,Int64,5,"[5, 1, 2, 3, 4]"
16,On-board service,Int64,5,"[4, 1, 2, 3, 5]"
17,Leg room service,Int64,5,"[3, 5, 4, 2, 1]"
18,Baggage handling,Int64,5,"[4, 3, 5, 1, 2]"
19,Checkin service,Int64,5,"[4, 1, 3, 5, 2]"
20,Inflight service,Int64,5,"[5, 4, 3, 1, 2]"
21,Cleanliness,Int64,5,"[5, 1, 2, 3, 4]"
22,Departure Delay in Minutes,int64,441,"[25, 1, 0, 11, 9, 4, 28, 43, 49, 7, 17, 52, 54..."
23,Arrival Delay in Minutes,float64,451,"[18.0, 6.0, 0.0, 9.0, 23.0, 8.0, 35.0, 51.0, 1..."
24,satisfaction,object,2,"[neutral or dissatisfied, satisfied]"

In [19]:
df_asli = df_asli.drop(columns=['Unnamed: 0'])
df_asli

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,12942,Male,Loyal Customer,8,Personal Travel,Eco,563,3,5,3,4,1,3,4,1,5,4,5,5,4,1,35,21.0,neutral or dissatisfied
99996,47237,Male,Loyal Customer,61,Personal Travel,Eco Plus,945,1,1,1,4,3,1,3,3,3,3,4,1,4,3,40,46.0,neutral or dissatisfied
99997,41508,Male,Loyal Customer,43,Business travel,Business,1464,3,3,4,3,3,1,1,5,5,5,5,4,5,3,0,0.0,satisfied
99998,107935,Female,disloyal Customer,22,Business travel,Business,611,4,2,4,3,3,4,2,3,2,5,4,1,3,3,15,6.0,neutral or dissatisfied
99999,123143,Male,Loyal Customer,41,Business travel,Business,590,2,4,4,4,4,4,4,2,2,2,2,1,2,2,4,15.0,neutral or dissatisfied

In [25]:
df_asli.to_csv(r'C:\Users\ASUS\Downloads\latihan Netflix\CSAT airline data Cleaned.csv')