In [1]:
#importing/memasukkan package untuk alat bantu memproses data
import pandas as pd
import numpy as np
from scipy.stats import stats
import seaborn as sns
import warnings 
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
warnings.simplefilter(action='ignore',category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns',50)

# Membaca dan menampilkan dataset yang akan diproses
df_asli = pd.read_csv(r'C:\Users\ASUS\Downloads\Product Analysis.csv')
df_asli

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,shipping_charges,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,toys,491.0,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
1,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,toys,491.0,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
2,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,toys,491.0,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
3,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,toys,491.0,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
4,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65,toys,491.0,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,59.62,toys,1383.0,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP
99996,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,59.62,toys,1383.0,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP
99997,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,59.62,toys,1383.0,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP
99998,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,59.62,toys,1383.0,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP
99999,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,59.62,toys,1383.0,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP

In [2]:
all_cols = df_asli.select_dtypes(include=['number','object','bool']).columns # menggabungkan semua data kolom 
all_values = []

for allcol in all_cols: 
    all_values.append({
        'column':allcol,  # nama kolom
        'data_type': df_asli[allcol].dtypes,
        'n_values':df_asli[allcol].nunique(dropna=True), # jumlah data
        'unique_values': df_asli[allcol].dropna().unique().tolist()}) # isi dari kolom atau nilai kategorik dari data
        
all_values_df_asli = pd.DataFrame(all_values)
all_values_df_asli

,column,data_type,n_values,unique_values
0,order_id,object,3640,"[Axfy13Hk4PIk, v6px92oS8cLG, Ulpf9skrhjfm, bwJ..."
1,customer_id,object,3640,"[hCT0x9JiGXBQ, PxA7fv9spyhx, g3nXeJkGI0Qw, EOE..."
2,order_status,object,5,"[delivered, canceled, shipped, processing, inv..."
3,order_purchase_timestamp,object,3581,"[2017-10-22 18:57:54, 2018-06-20 21:40:31, 201..."
4,order_approved_at,object,3564,"[2017-10-22 19:14:13, 2018-06-20 22:20:20, 201..."
5,order_delivered_timestamp,object,3499,"[2017-10-26 22:19:52, 2018-07-03 22:51:22, 201..."
6,order_estimated_delivery_date,object,397,"[2017-11-09, 2018-07-24, 2018-03-08, 2018-09-1..."
7,product_id,object,2854,"[90K0C1fIyQUf, qejhpMGGVcsl, qUS5d2pEAyxJ, 639..."
8,seller_id,object,1061,"[ZWM05J9LcBSF, IjlpYfhUbRQs, 77p2EYxcM9MD, jWz..."
9,price,float64,1117,"[223.51, 170.8, 64.4, 264.5, 779.9, 263.9, 966..."
10,shipping_charges,float64,1589,"[84.65, 23.79, 17.38, 30.72, 30.66, 40.26, 98...."
11,product_category_name,object,54,"[toys, watches_gifts, costruction_tools_garden..."
12,product_weight_g,float64,624,"[491.0, 440.0, 2200.0, 1450.0, 300.0, 2800.0, ..."
13,product_length_cm,float64,82,"[19.0, 18.0, 16.0, 68.0, 17.0, 46.0, 45.0, 30...."
14,product_height_cm,float64,76,"[12.0, 14.0, 16.0, 3.0, 4.0, 31.0, 15.0, 23.0,..."
15,product_width_cm,float64,69,"[16.0, 17.0, 48.0, 12.0, 39.0, 43.0, 35.0, 30...."
16,payment_sequential,int64,14,"[1, 8, 2, 6, 3, 4, 9, 5, 23, 11, 18, 10, 7, 12]"
17,payment_type,object,4,"[credit_card, wallet, voucher, debit_card]"
18,payment_installments,int64,19,"[1, 8, 4, 2, 5, 6, 10, 3, 7, 9, 18, 12, 24, 15..."
19,payment_value,float64,3092,"[259.14, 382.39, 249.25, 27.79, 76.15, 1014.75..."
20,customer_zip_code_prefix,int64,2774,"[58125, 3112, 4119, 18212, 88868, 25902, 4762,..."
21,customer_city,object,910,"[varzea paulista, armacao dos buzios, jandira,..."
22,customer_state,object,25,"[SP, RJ, MG, SC, ES, RN, BA, DF, RS, PE, GO, C..."

In [2]:
df_asli.describe()

,price,shipping_charges,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix
count,100000.000000,100000.000000,99986.000000,99986.000000,99986.000000,99986.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,519.373862,45.021183,1817.657352,31.478117,15.751065,24.961575,1.104740,2.587790,297.371103,40043.759870
std,872.859682,42.807050,2543.057379,14.562938,10.441849,11.032317,0.861195,2.552645,387.492636,30602.253486
min,0.850000,0.070000,0.000000,7.000000,2.000000,7.000000,1.000000,1.000000,0.200000,1004.000000
25%,89.100000,19.630000,396.000000,20.000000,10.000000,15.000000,1.000000,1.000000,85.360000,9655.000000
50%,159.900000,34.330000,1110.000000,30.000000,12.000000,20.000000,1.000000,1.000000,170.760000,35938.000000
75%,564.990000,54.420000,1750.000000,42.000000,22.000000,30.000000,1.000000,3.000000,336.060000,68458.000000
max,4590.000000,321.880000,30000.000000,105.000000,105.000000,105.000000,23.000000,24.000000,6929.310000,99990.000000

In [3]:
df_asli.duplicated().sum()

np.int64(96360)

In [4]:
df_clean = df_asli.drop_duplicates()
df_clean.reset_index()

,index,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,...,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state
0,0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
1,13,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,...,18.0,14.0,17.0,1,credit_card,8,382.39,3112,armacao dos buzios,RJ
2,16,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,...,16.0,16.0,16.0,1,credit_card,4,249.25,4119,jandira,SP
3,21,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,...,68.0,3.0,48.0,1,credit_card,2,27.79,18212,uberlandia,MG
4,27,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,...,17.0,4.0,12.0,1,credit_card,1,76.15,88868,ilhabela,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3635,99695,cjN5Qz0XrtMP,l6iz9U8zd8qG,delivered,2018-02-27 11:11:22,2018-02-27 11:35:40,2018-03-06 18:39:06,2018-03-28,NmXJXDeHjNcb,lbmduirZT5rh,...,22.0,13.0,12.0,1,credit_card,1,111.01,6872,valinhos,SP
3636,99703,8D2pZAr9VFxc,ge8wKte8vDfD,shipped,2017-07-19 12:44:59,2017-07-19 12:55:22,NaN,2017-08-14,iLnH8fKqZq00,SgeUigb5Vbiv,...,40.0,20.0,30.0,1,credit_card,2,183.12,79134,belo horizonte,MG
3637,99711,aIrTLRPEWsZz,tdBVo6pBogui,delivered,2017-08-23 17:20:02,2017-08-23 17:32:46,2017-09-05 21:45:35,2017-09-21,Vluazar8Um8o,LDwBM8FTDl45,...,35.0,9.0,15.0,1,credit_card,3,494.42,8765,belo horizonte,MG
3638,99713,lQa7AIqVpwPZ,35diVOwEjA2F,delivered,2017-11-12 11:11:06,2017-11-14 04:10:46,2017-11-23 20:09:47,2017-12-05,aUrNFdURGBin,rFT13UJuGo0Q,...,16.0,16.0,16.0,1,wallet,1,388.51,9600,contagem,MG
3639,99716,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,...,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP

In [5]:
print(f"Missing Value = {df_clean.isnull().sum()}")

Missing Value = order_id                          0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                 0
order_delivered_timestamp        81
order_estimated_delivery_date     0
product_id                        0
seller_id                         0
price                             0
shipping_charges                  0
product_category_name             7
product_weight_g                  1
product_length_cm                 1
product_height_cm                 1
product_width_cm                  1
payment_sequential                0
payment_type                      0
payment_installments              0
payment_value                     0
customer_zip_code_prefix          0
customer_city                     0
customer_state                    0
dtype: int64

In [6]:
rows_with_missing_data = df_clean[df_clean.isnull().any(axis=1)]
rows_with_missing_data['order_delivered_timestamp']

310                      NaN
1398                     NaN
2410                     NaN
2507                     NaN
3767                     NaN
                ...
96525                    NaN
96965                    NaN
97259                    NaN
99692    2017-11-22 19:24:31
99703                    NaN
Name: order_delivered_timestamp, Length: 89, dtype: object

In [7]:
df_clean.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_timestamp',
       'order_estimated_delivery_date', 'product_id', 'seller_id', 'price',
       'shipping_charges', 'product_category_name', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'customer_zip_code_prefix', 'customer_city',
       'customer_state'],
      dtype='object')

In [8]:
df_clean = df_clean.dropna()

In [9]:
df_clean = df_clean.reset_index(drop=True)

In [10]:
df_clean

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,19.0,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,...,18.0,14.0,17.0,1,credit_card,8,382.39,3112,armacao dos buzios,RJ
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,...,16.0,16.0,16.0,1,credit_card,4,249.25,4119,jandira,SP
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,...,68.0,3.0,48.0,1,credit_card,2,27.79,18212,uberlandia,MG
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,...,17.0,4.0,12.0,1,credit_card,1,76.15,88868,ilhabela,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3546,nkx8Gh5MuJHn,P6CFN3ef78tG,delivered,2018-02-02 15:55:43,2018-02-02 16:10:29,2018-02-26 17:42:04,2018-03-12,fDYeXiH40LBO,FGVwTsnkeNNv,77.87,...,35.0,20.0,20.0,1,credit_card,3,160.52,18217,betim,MG
3547,cjN5Qz0XrtMP,l6iz9U8zd8qG,delivered,2018-02-27 11:11:22,2018-02-27 11:35:40,2018-03-06 18:39:06,2018-03-28,NmXJXDeHjNcb,lbmduirZT5rh,57.66,...,22.0,13.0,12.0,1,credit_card,1,111.01,6872,valinhos,SP
3548,aIrTLRPEWsZz,tdBVo6pBogui,delivered,2017-08-23 17:20:02,2017-08-23 17:32:46,2017-09-05 21:45:35,2017-09-21,Vluazar8Um8o,LDwBM8FTDl45,206.57,...,35.0,9.0,15.0,1,credit_card,3,494.42,8765,belo horizonte,MG
3549,lQa7AIqVpwPZ,35diVOwEjA2F,delivered,2017-11-12 11:11:06,2017-11-14 04:10:46,2017-11-23 20:09:47,2017-12-05,aUrNFdURGBin,rFT13UJuGo0Q,71.49,...,16.0,16.0,16.0,1,wallet,1,388.51,9600,contagem,MG
3550,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,...,50.0,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP

In [11]:
all_cols = df_clean.select_dtypes(include=['number','object','bool']).columns # menggabungkan semua data kolom 
all_values = []

for allcol in all_cols: 
    all_values.append({
        'column':allcol,  # nama kolom
        'data_type': df_clean[allcol].dtypes,
        'n_values':df_clean[allcol].nunique(dropna=True), # jumlah data
        'unique_values': df_clean[allcol].dropna().unique().tolist()}) # isi dari kolom atau nilai kategorik dari data
        
all_values_df_asli = pd.DataFrame(all_values)
all_values_df_asli

,column,data_type,n_values,unique_values
0,order_id,object,3551,"[Axfy13Hk4PIk, v6px92oS8cLG, Ulpf9skrhjfm, bwJ..."
1,customer_id,object,3551,"[hCT0x9JiGXBQ, PxA7fv9spyhx, g3nXeJkGI0Qw, EOE..."
2,order_status,object,1,[delivered]
3,order_purchase_timestamp,object,3492,"[2017-10-22 18:57:54, 2018-06-20 21:40:31, 201..."
4,order_approved_at,object,3475,"[2017-10-22 19:14:13, 2018-06-20 22:20:20, 201..."
5,order_delivered_timestamp,object,3491,"[2017-10-26 22:19:52, 2018-07-03 22:51:22, 201..."
6,order_estimated_delivery_date,object,396,"[2017-11-09, 2018-07-24, 2018-03-08, 2018-09-1..."
7,product_id,object,2787,"[90K0C1fIyQUf, qejhpMGGVcsl, qUS5d2pEAyxJ, 639..."
8,seller_id,object,1042,"[ZWM05J9LcBSF, IjlpYfhUbRQs, 77p2EYxcM9MD, jWz..."
9,price,float64,1098,"[223.51, 170.8, 64.4, 264.5, 779.9, 263.9, 966..."
10,shipping_charges,float64,1559,"[84.65, 23.79, 17.38, 30.72, 30.66, 40.26, 98...."
11,product_category_name,object,54,"[toys, watches_gifts, costruction_tools_garden..."
12,product_weight_g,float64,609,"[491.0, 440.0, 2200.0, 1450.0, 300.0, 2800.0, ..."
13,product_length_cm,float64,82,"[19.0, 18.0, 16.0, 68.0, 17.0, 46.0, 45.0, 30...."
14,product_height_cm,float64,76,"[12.0, 14.0, 16.0, 3.0, 4.0, 31.0, 15.0, 23.0,..."
15,product_width_cm,float64,67,"[16.0, 17.0, 48.0, 12.0, 39.0, 43.0, 35.0, 30...."
16,payment_sequential,int64,14,"[1, 8, 2, 3, 4, 9, 6, 5, 23, 11, 18, 10, 7, 12]"
17,payment_type,object,4,"[credit_card, wallet, voucher, debit_card]"
18,payment_installments,int64,19,"[1, 8, 4, 2, 5, 6, 10, 3, 9, 7, 18, 12, 24, 15..."
19,payment_value,float64,3021,"[259.14, 382.39, 249.25, 27.79, 76.15, 1014.75..."
20,customer_zip_code_prefix,int64,2712,"[58125, 3112, 4119, 18212, 88868, 25902, 4762,..."
21,customer_city,object,897,"[varzea paulista, armacao dos buzios, jandira,..."
22,customer_state,object,25,"[SP, RJ, MG, SC, ES, RN, BA, DF, RS, PE, GO, C..."

In [21]:
product_name = df_clean['product_category_name'].unique().tolist()
# product_name
sorted(product_name)

['agro_industry_and_commerce',
 'air_conditioning',
 'audio',
 'auto',
 'baby',
 'bed_bath_table',
 'books_general_interest',
 'books_imported',
 'books_technical',
 'cine_photo',
 'computers',
 'computers_accessories',
 'consoles_games',
 'construction_tools_construction',
 'construction_tools_lights',
 'construction_tools_safety',
 'cool_stuff',
 'costruction_tools_garden',
 'costruction_tools_tools',
 'drinks',
 'electronics',
 'fashion_bags_accessories',
 'fashion_male_clothing',
 'fashion_shoes',
 'fashion_sport',
 'fixed_telephony',
 'food',
 'food_drink',
 'furniture_decor',
 'furniture_living_room',
 'garden_tools',
 'health_beauty',
 'home_appliances',
 'home_appliances_2',
 'home_confort',
 'home_construction',
 'housewares',
 'industry_commerce_and_business',
 'kitchen_dining_laundry_garden_furniture',
 'luggage_accessories',
 'market_place',
 'music',
 'musical_instruments',
 'office_furniture',
 'perfumery',
 'pet_shop',
 'signaling_and_security',
 'small_appliances',
 'sports_leisure',
 'stationery',
 'tablets_printing_image',
 'telephony',
 'toys',
 'watches_gifts']

In [22]:
category_map = {
    # ---- Fashion ----
    'fashion_bags_accessories': 'Fashion',
    'fashion_male_clothing': 'Fashion',
    'fashion_shoes': 'Fashion',
    'fashion_sport': 'Fashion',
    'watches_gifts': 'Fashion',

    # ---- Electronics ----
    'electronics': 'Electronics',
    'audio': 'Electronics',
    'computers': 'Electronics',
    'computers_accessories': 'Electronics',
    'tablets_printing_image': 'Electronics',
    'telephony': 'Electronics',
    'fixed_telephony': 'Electronics',
    'consoles_games': 'Electronics',
    'cine_photo': 'Electronics',
    'signaling_and_security': 'Electronics',
    'cool_stuff': 'Electronics',

    # ---- Books ----
    'books_general_interest': 'Books',
    'books_imported': 'Books',
    'books_technical': 'Books',

    # ---- Home & Furniture ----
    'furniture_decor': 'Home & Furniture',
    'furniture_living_room': 'Home & Furniture',
    'office_furniture': 'Home & Furniture',
    'bed_bath_table': 'Home & Furniture',
    'housewares': 'Home & Furniture',
    'home_confort': 'Home & Furniture',  # typo from dataset but kept original
    'garden_tools': 'Home & Furniture',
    'kitchen_dining_laundry_garden_furniture': 'Home & Furniture',
    'luggage_accessories': 'Home & Furniture',
    
    # ---- Home Appliances ----
    'home_appliances': 'Home Appliances',
    'home_appliances_2': 'Home Appliances',
    'small_appliances': 'Home Appliances',
    'air_conditioning': 'Home Appliances',

    # ---- Construction & Tools ----
    'construction_tools_construction': 'Construction & Tools',
    'construction_tools_lights': 'Construction & Tools',
    'construction_tools_safety': 'Construction & Tools',
    'costruction_tools_garden': 'Construction & Tools',
    'costruction_tools_tools': 'Construction & Tools',
    'home_construction': 'Construction & Tools',

    # ---- Beauty & Personal Care ----
    'health_beauty': 'Beauty & Personal Care',
    'perfumery': 'Beauty & Personal Care',

    # ---- Food & Drinks ----
    'food': 'Food & Drinks',
    'food_drink': 'Food & Drinks',
    'drinks': 'Food & Drinks',

    # ---- Sports & Leisure ----
    'sports_leisure': 'Sports & Leisure',
    'auto': 'Sports & Leisure',

    # ---- Baby & Toys ----
    'baby': 'Baby & Toys',
    'toys': 'Baby & Toys',

    # ---- Pets ----
    'pet_shop': 'Pets',

    # ---- Office & Stationery ----
    'stationery': 'Office & Stationery',
    'industry_commerce_and_business': 'Office & Stationery',

    # ---- Agro Industry ----
    'agro_industry_and_commerce': 'Agro Industry',

    # ---- Music ----
    'music': 'Music',
    'musical_instruments': 'Music',

    # ---- Marketplace / Others ----
    'market_place': 'Marketplace / Others'
}
df_clean['category_group'] = df_clean['product_category_name'].map(category_map)
df_clean['category_group'] = df_clean['category_group'].fillna('Others')

In [24]:
df_clean[['category_group','product_category_name']]

            category_group     product_category_name
0              Baby & Toys                      toys
1                  Fashion             watches_gifts
2     Construction & Tools  costruction_tools_garden
3              Baby & Toys                      toys
4              Baby & Toys                      toys
...                    ...                       ...
3546           Baby & Toys                      toys
3547           Electronics     computers_accessories
3548  Marketplace / Others              market_place
3549           Baby & Toys                      toys
3550           Baby & Toys                      toys

[3551 rows x 2 columns]

In [25]:
df_clean

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,customer_zip_code_prefix,customer_city,customer_state,category_group
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,12.0,16.0,1,credit_card,1,259.14,58125,varzea paulista,SP,Baby & Toys
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,...,14.0,17.0,1,credit_card,8,382.39,3112,armacao dos buzios,RJ,Fashion
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,...,16.0,16.0,1,credit_card,4,249.25,4119,jandira,SP,Construction & Tools
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,...,3.0,48.0,1,credit_card,2,27.79,18212,uberlandia,MG,Baby & Toys
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,...,4.0,12.0,1,credit_card,1,76.15,88868,ilhabela,SP,Baby & Toys
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3546,nkx8Gh5MuJHn,P6CFN3ef78tG,delivered,2018-02-02 15:55:43,2018-02-02 16:10:29,2018-02-26 17:42:04,2018-03-12,fDYeXiH40LBO,FGVwTsnkeNNv,77.87,...,20.0,20.0,1,credit_card,3,160.52,18217,betim,MG,Baby & Toys
3547,cjN5Qz0XrtMP,l6iz9U8zd8qG,delivered,2018-02-27 11:11:22,2018-02-27 11:35:40,2018-03-06 18:39:06,2018-03-28,NmXJXDeHjNcb,lbmduirZT5rh,57.66,...,13.0,12.0,1,credit_card,1,111.01,6872,valinhos,SP,Electronics
3548,aIrTLRPEWsZz,tdBVo6pBogui,delivered,2017-08-23 17:20:02,2017-08-23 17:32:46,2017-09-05 21:45:35,2017-09-21,Vluazar8Um8o,LDwBM8FTDl45,206.57,...,9.0,15.0,1,credit_card,3,494.42,8765,belo horizonte,MG,Marketplace / Others
3549,lQa7AIqVpwPZ,35diVOwEjA2F,delivered,2017-11-12 11:11:06,2017-11-14 04:10:46,2017-11-23 20:09:47,2017-12-05,aUrNFdURGBin,rFT13UJuGo0Q,71.49,...,16.0,16.0,1,wallet,1,388.51,9600,contagem,MG,Baby & Toys
3550,GeG4KAwtrR78,uqCUB2mTXtlt,delivered,2017-09-22 15:26:28,2017-09-23 18:44:28,2017-09-28 18:48:56,2017-10-16,0vbEvli2JYJu,RKad98cTxhSb,95.03,...,10.0,40.0,1,credit_card,2,2759.95,56327,guarulhos,SP,Baby & Toys

In [26]:
df_clean.to_csv(r'C:\Users\ASUS\Downloads\latihan Netflix\customer cleaned.csv')